{{!< default}}
<header id="blog-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<div class="inner">
		<div id="navbar">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}">
					{{#if @blog.cover_image}}
						<img src="../src/img/logo-light.png" alt="Blog Logo" />
					{{else}}
						<img src="{{@blog.logo}}" alt="Blog Logo" />
					{{/if}}
				</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
				{{navigation}}
			{{else}}
				<nav>
					<ul class="navigation-links">
						{{#if @labs.subscribers}}
						<li class="nav-subscribe"><a href="{{@blog.url}}/subscribe/"><i class="ic ic-mail"></i> Subscribe</a></li>
						{{else}}
						<li class="nav-rss"><a href="{{@blog.url}}/rss/"><i class="ic ic-rss"></i></a></li>
						{{/if}}
					</ul>
				</nav>
			{{/if}}
		</div>
		<h1 class="blog-name"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{#if @blog.description}}
		<span class="blog-description">{{@blog.description}}</span>
		{{/if}}
		{{#if @blog.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>